:root {
  --main-color: #456459;
  --sub-color: white;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Courgette";
  src: url("../fonts/Courgette-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

.landing {
  width: 100%;
  height: 100%;
  background-image: url(../img/tim-mossholder-9XT1_6wFTpY-unsplash.jpg);
  background-size: cover;
  max-height: 56.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 56.25vw;
  background-image: linear-gradient(#ffffffff, #ffffff00);
}

.landing > * {
  position: relative;
  z-index: 100;
}

.header {
  position: absolute;
  top: 15px;
  left: 15px;
}

.header > img {
  max-width: 200px;
}

.landingbody {
  color: var(--main-color);
  font-family: "Courgette";
  position: absolute;
  width: 55.2vw;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.landingbody > p:nth-child(1) {
  font-size: 7.62vw;
  margin: 0px;
}

.landingbody > p:nth-child(2) {
  font-size: calc(2 / 7 * 7.6vw);
  margin: 0px;
  padding-top: 0.9375vw;
  font-weight: 200;
}

.landingbody > a {
  margin-top: 1.875vw;
  font-size: calc(0.22449 * 7.6vw);
  font-family: "Montserrat";
  text-decoration: none;
  color: var(--sub-color);
  display: inline-block;
  padding-top: calc((3.8vw - 0.22449 * 7.6vw) / 2);
  padding-bottom: calc((3.8vw - 0.22449 * 7.6vw) / 1.9);
  width: 19vw;
  border-radius: 3.5vw;
  background-color: var(--main-color);
  opacity: 100%;
}

.landingbody > a:hover {
  opacity: 90%;
}

.about {
  background-color: var(--main-color);
  text-align: center;
  height: 42.8vw;
}

.about > p {
  margin: 0px;
  padding-top: 2vw;
  padding-bottom: 3.4vw;
  font-family: "Courgette";
  color: var(--sub-color);
  font-size: 3vw;
}

.imgl {
  background-image: url(../img/muhammad-ruqiyaddin-MHtusE9Xnp0-unsplash.jpg);
  width: 43.49vw;
  height: 24.38vw;
  background-size: 43.49vw auto;
  overflow: hidden;
  background-position: 50% 55%;
  float: left;
  margin-left: 4.4vw;
}

.imgrt {
  width: 43.49vw;
  height: 24.38vw;
  float: right;
  margin-right: 4.4vw;
  font-size: 2.19vw;
  color: var(--sub-color);
  font-family: "Montserrat";
  text-align: left;
}

.services {
  width: 100vw;
  height: 76vw;
  background-color: var(--sub-color);
  position: relative;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.services > p:nth-child(1) {
  font-family: "Courgette";
  color: var(--main-color);
  font-size: 3vw;
}

.services > p:nth-child(2) {
  font-family: "Montserrat";
  width: 91.9vw;
  margin-left: 4.05vw;
  color: var(--main-color);
  font-size: 1.56vw;
}

.servicesrow {
  width: 91.98vw;
  height: 55vw;
  background-color: var(--main-color);
  margin-left: 4vw;
  bottom: 2.9vw;
  position: absolute;
}

.servicesrow > div {
  position: relative;
  float: left;
  width: 30.66vw;
}

.servicesrow > div > div {
  width: 30.66vw;
  height: 24vw;
}

.eduimg {
  background-image: url(../img/element5-digital-OyCl7Y4y0Bk-unsplash.jpg);
  background-size: auto 24vw;
  overflow: hidden;
  background-position: 50% 50%;
}

.adimg {
  background-image: url(../img/oleg-laptev-QRKJwE6yfJo-unsplash.jpg);
  background-size: 125%;
  overflow: hidden;
  background-position: 50% 50%;
}

.supimage {
  background-image: url(../img/austin-kehmeier-lyiKExA4zQA-unsplash.jpg);
  background-size: 100%;
  overflow: hidden;
  background-position: 50% 50%;
}

.servicesrow > div {
  color: var(--sub-color);
}

.servicesrow > div > p:nth-child(2) {
  font-family: "Courgette";
  font-size: 3.49vw;
  margin: 0;
  margin-top: 1.8vw;
}

.servicesrow > div > p:nth-child(3) {
  font-family: "Montserrat";
  width: 26vw;
  margin-left: 2.33vw;
  font-size: 1.56vw;
  text-align: left;
}

.quote {
  width: 100vw;
  height: 49vw;
  background-color: var(--main-color);
  position: relative;
}

.quotebg {
  width: 91.875vw;
  height: 42.1875vw;
  background-image: url(../img/aaron-burden-UvRMcIeXq9Y-unsplash.jpg);
  margin-left: 4.0625vw;
  background-size: 110%;
  background-position: 0% 0%;
  position: absolute;
  top: 3.3854166667vw;
  text-align: center;
}

.quotebg > p {
  color: var(--main-color);
  font-family: "Lato";
  margin: 0;
}

.quotebg > p:nth-child(1) {
  font-size: 3.125vw;
  margin-top: 17.1875vw;
}

.quotebg > p:nth-child(2) {
  font-size: 2.65625vw;
  text-align: right;
  margin-right: 11.09375vw;
  margin-top: 0.6770833333vw;
}

.contact {
  width: 100vw;
  height: 47.2395833333vw;
  background-color: var(--sub-color);
  position: relative;
}

.contactint {
  width: 91.875vw;
  height: 40.46875vw;
  background-color: var(--main-color);
  position: absolute;
  top: 3.3854166667vw;
  margin-left: 4.0625vw;
}

.contactus {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  color: white;
  font-family: "Lato";
  font-size: 1.5625vw;
}

.contactus > p:nth-child(1) {
  font-size: 3.90625vw;
  margin-top: 11.71vw;
  margin-bottom: 2.6041666667vw;
}

.contactus > p:last-of-type {
  margin-bottom: 0;
}

.contactimg {
  width: 50%;
  height: 100%;
  background-image: url(../img/free-to-use-sounds-3X-ZMvcEVyY-unsplash.jpg);
  background-size: 100%;
  background-position: center;
  float: right;
}

.footer {
  width: 100vw;
  height: 6.40625vw;
  background-color: var(--main-color);
  font-family: "Lato";
  color: var(--sub-color);
  font-size: 1.71875vw;
  text-align: center;
  position: relative;
}

.footer > div {
  position: absolute;
  margin-top: 1.5798611111vw;
  margin-left: 37.5vw;
}

.footer > div > img {
  padding-left: 0.75vw;
  vertical-align: middle;
  width: 15.7291666667vw;
  /*padding-bottom: 8px;*/
  padding-bottom: 0.5555555556vw;
}

@media only screen and (max-width: 500px) {
  .header > img {
    width: 30vw;
  }

  .landingbody > p:nth-child(1) {
    font-size: 12vw;
  }

  .landingbody > p:nth-child(2) {
    font-size: calc(2 / 7 * 12vw);
  }

  .landing::after {
    background-image: linear-gradient(#ffffffff, #ffffff4d);
    max-height: 120vw;
  }

  .landingbody {
    width: 100vw;
  }

  .landing {
    max-height: 120vw;
    background-position: 30% 30%;
    background-size: auto 120vw;
  }

  .landingbody > a {
    font-size: calc(0.22449 * 12vw);
    padding-top: calc((3.8vw - 0.22449 * 12vw) / 2);
    padding-bottom: calc((3.8vw - 0.22449 * 12vw) / 1.9);
    margin-top: calc(2.5vw);
  }

  .imgl {
    width: 86.98vw;
    height: 48.76vw;
    background-size: 100%;
  }
  .imgrt {
    padding-top: 15px;
    width: 86.98vw;
    height: 48.76vw;
    font-size: 3.5vw;
    text-align: left;
    padding-right: 6.51vw;
    margin-left: 6.51vw;
    padding-top: 52vw;
    position: absolute;
  }

  .about {
    height: 100vw;
  }

  .about > p {
    font-size: 7vw;
  }

  .services {
    height: 420vw;
  }

  .services > p:nth-child(1) {
    font-size: 7vw;
    margin-bottom: 0;
  }

  .services > p:nth-child(2) {
    font-size: 3.5vw;
  }

  .servicesrow > div {
    width: 91.98vw;
  }
  .servicesrow > div > div {
    width: 91.98vw;
    height: 72vw;
  }

  .eduimg {
    background-size: auto 72vw;
  }

  .servicesrow {
    height: 365vw;
  }

  .servicesrow > div > p:nth-child(2) {
    font-size: 6vw;
  }

  .servicesrow > div > p:nth-child(3) {
    width: 78vw;
    font-size: 3.5vw;
    text-align: left;
    margin-left: 6.99vw;
  }

  .quote {
    height: 64vw;
  }

  .quotebg {
    height: 57.1875vw;
  }

  .quotebg > p:nth-child(1) {
    font-size: 6vw;
    text-align: left;
    margin-left: 5vw;
  }

  .quotebg > p:nth-child(2) {
    font-size: 5vw;
    text-align: left;
    margin-top: 2vw;
    margin-left: 5vw;
  }

  .contact {
    height: 120vw;
  }

  .contactint {
    height: 113vw;
  }

  .contactus {
    width: 100%;
    height: 50%;
    font-size: 4vw;
  }

  .contactus > p:nth-child(1) {
    font-size: 10vw;
  }

  .contactimg {
    width: 100%;
    height: 50%;
  }

  .footer {
    height: 12vw;
    font-size: 3.5vw;
  }

  .footer > div{
      margin-top: 3.2171717172vw;
      margin-left: 25vw;
  }

  .footer > div > img {
    width: 32.0303030309vw;
  }
}
